body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 0.5;
    background-color: lightblue;
    color: black;
    padding-top: 110px;
    text-align: center;
}

h1 {
    padding-top: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 0.25;
}

h2 {
    text-align: left;
    font-size: 20px;
    line-height: 0.25;
}

.button {
    font-size: 48px;
    font-weight: 700;
    background-color: navy;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    font-size: 48px;
    font-weight: 700;
    background-color: darkblue;
    color: white;
    border: none;
    padding: 30px 50px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    vertical-align: center;
}

#nav-container {
    height: 50px;
    overflow-y: hidden;
    vertical-align: center;
    width: 100%;
}