body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 0.5;
    background-color: lightblue;
    color: white;
    padding-top: 110px;
}

h1 {
    text-align: right;
    font-size: 14px;
    line-height: 0.25;
}