body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 0.5;
    background-size: 100%;
    color: white;
    padding-top: 110px;
}

h1 {
    text-align: right;
    font-size: 14px;
    line-height: 0.25;
}

h2 {
    font-size: 22px;
    text-align: center;
    vertical-align: center;
}

main {
    max-width: 700px;
    margin: auto;
    text-align: center;
    vertical-align: center;
}

.button {
    font-size: 48px;
    font-weight: 700;
    background-color: navy;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#nav-container {
    height: 50px;
    overflow-y: hidden;
    vertical-align: center;
}